In [1]:
import json, warnings, os
from pathlib import Path

warnings.filterwarnings('ignore')

if Path.cwd().name == "notebooks":
    rootdir = Path.cwd().parent
else:
    rootdir = Path.cwd()

import pandas as pd
import plotly.express as px
from plotly import graph_objects as go

from stables.utils.postgres import get_sqlalchemy_engine
from stables.config import local_pg_config, remote_pg_config
engine = get_sqlalchemy_engine(local_pg_config)

## Primary market
- USDe market cap
-

In [4]:
query = """
SELECT * FROM llama.circulating
WHERE id = 146
"""
df= pd.read_sql(query, engine)

l = df['time'].max()

tvl = df[(df['time'] == l)]['circulating'].sum()

n_chains = df[
    (df['time'] == l) 
]['chain'].nunique()


df = df.groupby(['time', "chain"]).agg(
    tvl=('circulating', 'sum')
).reset_index()
df

fig = px.bar(df, x="time", y="tvl",  title=f"Current TVL: {tvl/1e9:.2f}B")
fig.update_layout(
    xaxis_title="Date",
    yaxis_title="TVL (USD)",
    legend_title_text="Stablecoin"
)
fig.show()

                          time       chain        tvl
0    2023-12-11 00:00:00+00:00    Ethereum    4945329
1    2023-12-12 00:00:00+00:00    Ethereum    4945329
2    2023-12-13 00:00:00+00:00    Ethereum    5420711
3    2023-12-14 00:00:00+00:00    Ethereum    7030430
4    2023-12-15 00:00:00+00:00    Ethereum   12919375
...                        ...         ...        ...
6167 2025-07-23 00:00:00+00:00      Solana    9924246
6168 2025-07-23 00:00:00+00:00         TON  122157716
6169 2025-07-23 00:00:00+00:00     X Layer          8
6170 2025-07-23 00:00:00+00:00  ZKsync Era       1949
6171 2025-07-23 00:00:00+00:00     Zircuit     264062

[6172 rows x 3 columns]